<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navvigation bar</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

   
   <div class="menu_bar">
      <h1 class="logo"><img src="logo.png" width="100px" height="100px"></h1>

      <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="about-us.html">ABOUT <i class="fas fa-caret-down"></i></a>
              <div class="dropdown_menu">
                       <ul>
                          <li><a href="about-us.html">COMPANY</a></li>
                          <li><a href="about-us.html">OUR TEAM</a></li>
                          <li><a href="about-us.html">PARTNERS</a></li>
                          <li><a href="about-us.html">PRIVACY</a></li>
                       </ul>

              </div>

          </li>
          <li><a href="services.html">SERVICES <i class="fas fa-caret-down"></i></a>
            
              <div class="dropdown_menu">
              <ul>
                  <li><a href="services.html">CONSULTING <i class="fas fa-caret-right"></i> </a>
                     
                      <div class="dropdown_menu-1">
                          <ul>
                      <li><a href="services.html">BUSINESS PLAN</a></li>
                      <li><a href="services.html">BUSINESS AUDITING</a></li>
                      <li><a href="services.html">LEGAL MANAGEMENT</a></li>
                      <li><a href="services.html">BUSINESS DEVELOPMENT</a></li>
                      <li><a href="services.html">TRAINING</a></li>
                          </ul>
                     </div>
                  </li>


                  <li><a href="services.html">IT SERVICES</a>
                      <div class="dropdown_menu-1">
                          <ul>
                      <li><a href="services.html">PAYROLL SYSYTEM</a></li>
                      <li><a href="services.html">NETWORKING</a></li>
                      <li><a href="services.html"> WEB/APP DESIGN</a></li>
                      <li><a href="services.html">TELE MARKETING</a></li>
                      <li><a href="services.html">WEB/APP DEVELOPMENT</a></li>
                      <li><a href="services.html">TRAINING</a></li>
                          </ul>
                     </div>


                  </li>


                  <li><a href="services.html">DIGITAL MARKETING</a>
                      <div class="dropdown_menu-1">
                          <ul>
                      <li><a href="services.html">SEO / SEM</a></li>
                      <li><a href="services.html">CONTENT CREATION</a></li>
                      <li><a href="services.html"> DATA ANALYSIS</a></li>
                      <li><a href="services.html">GRAPHIC CHATTER</a></li>
                      <li><a href="services.html">BRANDING</a></li>
                      <li><a href="services.html">TRAINING</a></li>
                          </ul>
                     </div>
                  
                  </li>
                  <li><a href="services.html">FINANCE</a>
                      <div class="dropdown_menu-1">
                          <ul>
                      <li><a href="services.html">AUDITING & CONTROL</a></li>
                      <li><a href="services.html">PAYROLL SYSYTEM</a></li>
                      <li><a href="services.html"> BOOK KEEPING</a></li>
                      <li><a href="services.html">COUNCELLING</a></li>
                      
                      <li><a href="services.html">TRAINING</a></li>
                          </ul>
                     </div>
                  </li>
               </ul>

            </div>
          </li>
          <li><a href="bookanappiontment.html">BOOK APPIONTMENT</a></li>
          <li><a href="payment.html">CONTACT US</a></li>
          <li><a href="Sign-Up.html">SIGN-UP</a></li>
          <!-- <li><a href="login.html">LOGIN</a></li> -->
      </ul>
  </div>






<div class="the-consultant-booking-form">
    <!-- <div id="app"> -->
      <h1>Consultant Booking Form</h1>
      <!-- <form @submit.prevent="submitForm"> -->

         <form id="myForm">

        <label for="name">Name</label>
        <input type="text" id="name" v-model="name" name="to_name" required>

        <label for="name">Contact</label>
        <input type="text" id="name" v-model="name" name="number" required>

        <label for="name">City</label>
        <input type="text" id="name" v-model="name" name="city" required>

        <label for="name">Company Name</label>
        <input type="text" id="name" v-model="name" name="company_name" required>
        
        <label for="email">Email</label>
        <input type="email" id="email" v-model="email" required>
        
        <label for="service">Service</label>
        <select id="service" v-model="selectedService" required>
          <option value="">Select a service</option>
          <option value="Business Consulting">Business Consulting</option>
          <option value="Finance">Finance</option>
          <option value="IT Service">IT Service</option>
          <option value="Digital Marketing">Digital Marketing</option>
        </select>
        
        <label for="date">Date</label>
        <input type="date" id="date" v-model="date" required>
        
        <label for="time">Time</label>
        <input type="time" id="time" v-model="time" required>
        
        <button type="submit">Book Appointment</button>


      </form>
    </div>
      
      <!-- <div v-if="submitted">
        <p>Thank you for booking an appointment with us!</p>
        <p>We have booked an appointment for {{ selectedService }} on {{ date }} at {{ time }}.</p>
        <p>We will send a confirmation email to {{ email }}.</p>
      </div> -->
    </div>
    
    









    

<footer>
    <div class="footer1">
       <img class="shift" src="logo.png" width="70px" height="70px">
       <p>About-us</p>
       <p class="description-of-company2">
          We pride ourself on providing top top-notch <br>
          consulting services to individuals and businesses<br>
          archieve their gaols. Weather you are seeking <br>
          guidance in Business strategy, Marketting or any <br>
          other Area, we have a team of experincced Consultant<br>
           ready to help you
       </p>

    </div>
    <div class="footer2">
       <p class="company-major">About</p><br>
       <a class="footer-link" href="index.html">Home</a>
       <br>
       <a class="footer-link" href="about-us.html">About</a><br>
       <a class="footer-link" href="about-us.html">Works</a><br>
       <a class="footer-link" href="about-us.html">Statistics</a><br>
       <a class="footer-link" href="services.html">Services</a><br>


    </div>
    <div class="footer2">
       <p class="company-major2">Services</p><br>
     

       <a class="footer-link" href="services.html">Buisiness Consultingg</a><br>

       <a class="footer-link" href="services.html">Finance</a><br>
       <a class="footer-link" href="services.html">Branding & Marketinng</a><br>
       <a class="footer-link" href="services.html">IT Services</a><br>
       <a class="footer-link" href="privacy-policy.html">Privacy Policy</a><br>

    </div>



    <div class="call-for-action2">
       <div class="the-first-row">
          <p class="jionus6">Lets talk</p><br>
          <p class="jionus3">Lorem ipsum dolor sit amet, consectetur <br>
             elit. Excepturi, quos.</p><br><br>
          <p class="jionus5"> Join Us</p>


       </div>

       <div class="the-second-row">
          <p class="jionus6">Connect</p><br>
          <p class="jionus3">Lorem ipsum dolor sit amet, consectetur <br>
             elit. Excepturi, quos.</p><br><br>
          <p class="jionus5"> Contact-Us</p>


       </div>



    </div>

    <div class="the-tages">
       <img src="logo.png" width="40px" height="40px">
       <img class="color-white" src="facebook2.png" width="30px" height="30px">
       <img src="twitter2.png" width="30px" height="30px">
       <img src="instagram2.png" width="30px" height="30px">
       <img src="linkein2.png" width="30px" height="30px">

    </div>
    <div class="copyright">Copyright 2023 <br>contact@gmail.com</div>
 </footer>



  


 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
    const form = document.getElementById("myForm")

    form.addEventListener("submit", (event) => {
        event.preventDefault()

        sendMessage()
    })
    function sendMessage() {
        emailjs.init("0T7Sik-n2zejj6UQS");
        emailjs.sendForm('service_bsquogo', 'template_7yava0l', '#myForm')
            .then(function (response) {
                console.log('SUCCESS!', response.status, response.text);
            }, function (error) {
                console.log('FAILED...', error);
            });
    }


</script>

</body>

</html>